main p{
	background: darkgrey;
}
 main h1{background: dimgray;
 }
 #logo{
 	width: 15%;
 	opacity: 1.0;
 	box-shadow: 10px 10px 5px grey;
 }
 principal{
 	width: 15%;
 	opacity: 1.0;
 	box-shadow:10px 10px 5px grey;